@{
    ViewData["Title"] = "Homepage";
    string name = "Luca";
}

<div class="text-left text-white d-flex flex-column justify-content-between">
    <h3 class="">Ciao, @name</h3>
    
    @* BLOCCO FILM *@
    <div>
        <h5 class="">FILM</h5>
        
    </div>
    
    @* BLOCCO SERIE TV *@
    <div>
        <h5 class="">SERIE TV</h5>
    </div>
    
</div>